.bg {	
	width: 200px;
	margin: 50px auto;
	position: relative;
}
.t1 {
	-webkit-animation: show1 0.8s;
}
.title {
	font-size: 48px;
	margin-left: 160px;
	position: absolute;
}

@-webkit-keyframes show1 {
	0% {
		opacity: 0;
		left: -50px;
		-webkit-transform: rotate(0deg);

	}
	90% {
		opacity: 1;
		left: 22px;
		-webkit-transform: rotate(400deg);
	}
	100% {
		opacity: 1;
		left: 20px;
		-webkit-transform: rotate(360deg);
	}
}